
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg,#ee691d, orange);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    max-width: 90%;
    padding: 30px;
    border-radius: 15px;
    background:#4A148C;
    backdrop-filter: blur(8px);
}

h1{
    text-align:center;
    color:blueviolet;
    font-family:Cambria;
    margin-bottom:20px;
}

.top-bar{
    position:fixed;
    top:15px;
    right:20px;
    display:flex;
    gap:8px;
}


.logout-btn{
    background:hsl(21, 84%, 90%);
     padding:8px 12px;
    color:rgb(5, 5, 5);
    text-decoration:none;
    border-radius:5px;
    font-size:13px;
}
.logout-btn:hover{
    background: red;
}

.users-btn{
    background:#f08040;
     padding:8px 12px;
    color:black;
    text-decoration:none;
    border-radius:5px;
    font-size:13px;
    transition: 0.3s ease;
}
.users-btn:hover{
    background: linear-gradient(#ee691d, orange) ;
}

.dashboard-btn {
    background: #263238;
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
}

.dashboard-btn:hover {
    background:  linear-gradient(#ee691d, orange);
}


form{
    display:flex;
    gap:8px;
}

input{
    flex:1;
    padding:10px;
    border:2px solid #555;
    border-radius:5px;
}

button{
    padding:10px 15px;
    background:#b63030;
    color:white;
    border:0;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
    box-shadow: 0 1px 2px rgb(248, 105, 105);
    transition: 0.3s ease;
}
button:hover{
    transform: translateY(-4px) scale(1.01);

}

p {
    margin-top: 12px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 5px black;
    transition: 0.3s ease;
}

p:hover {
    transform: translateY(-4px) scale(1.01);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.30);
}

.actions{
    display:flex;
    gap:6px;
    align-items:center;
}

.actions a{
    padding:6px 9px;
    color:white;
    text-decoration:none;
    border-radius:4px;
    font-size:12px;
}

.complete-btn{
    background:#0faf01;
}

.edit-btn{
    background:#263238;
}

.delete-btn{
    background:red;
}

.completed-text{
    color:green;
    font-weight:bold;
}

.completed-task{
    text-decoration:line-through;
    opacity:.6;
}

@media (max-width: 480px) {

    body {
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
    }

}
