* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background:linear-gradient(135deg, #160b2b, #4b176d, #7d2bbd);
    color: #222;
    padding: 40px 20px;
}
.dashboard-container {
    transition: margin-left 0.3s ease;
}

#menu-toggle:checked ~ .side-menu {
    left: 0;
}

#menu-toggle:checked ~ .dashboard-container {
    margin-left: 230px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #c9c2b5;
}

.dashboard-header h1 {
    margin-left: 500px;
    font-family: Georgia, serif;
    font-size: 44px;
    color: #fdfcfc;
}

.date p {
    font-size: 17px;
    color:rgb(255, 250, 250);
    text-align: center;
    margin-top: 30px;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 55px;
}

.stat-box {
    min-height: 270px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.55);
    border: 1px solid #d1cbc0;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.stat-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.14);
}

.stat-box h3 {
    font-size: 20px;
    font-weight: normal;
    color: #666;
    margin-bottom: 22px;
}

.stat-box h2 {
    font-family: Georgia, serif;
    font-size: 65px;
    color: #222;
    margin-bottom: 15px;
}

.stat-box span {
    font-size: 16px;
    color: #43836f;
}

#menu-toggle {
    display: none;
}

.menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
    color: rgb(139, 213, 231);
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 230px;
    height: 100vh;
    background: #ffffff;
    padding-top: 70px;
    transition: 0.3s;
    z-index: 1000;
}

.side-menu h2 {
    color: rgb(0, 0, 0);
    text-align:center;
    margin-bottom: 30px;
}

.side-menu a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 30px;
}

.side-menu a:hover {
    background: #d0b5f0;
}

#menu-toggle:checked ~ .side-menu {
    left: 0;
}

.dashboard-menu a:hover {
    background: #b897e0;
}

.profile-menu {
    position: fixed;
    top: 20px;
    right: 25px;
    z-index: 1005;
}

.profile-button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

.profile-button::-webkit-details-marker {
    display: none;
}

.profile-button img,
.default-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.default-avatar {
    background: #24113f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.profile-dropdown {
    position: absolute;
    right: 0;
    top: 52px;
    width: 150px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    overflow: hidden;
}

.profile-dropdown a {
    display: block;
    padding: 12px 15px;
    color: #24113f;
    text-decoration: none;
}

.profile-dropdown a:hover {
    background: #eee;
}
@media (max-width: 768px) {

    body {
        padding: 25px 15px;
    }

    .dashboard-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .dashboard-header h1 {
        font-size: 35px;
    }

    .dashboard-header p {
        font-size: 15px;
    }

    .stats-container {
        grid-template-columns: 1fr;
        margin-top: 35px;
        gap: 18px;
    }

    .stat-box {
        min-height: 220px;
        padding: 30px;
    }

    .stat-box h3 {
        font-size: 18px;
    }

    .stat-box h2 {
        font-size: 52px;
    }

    .icon {
        font-size: 34px;
    }

    .dashboard-buttons {
        flex-wrap: wrap;
        margin-top: 25px;
    }
}



@media (max-width: 480px) {

    body {
        padding: 20px 12px;
    }

    .dashboard-header h1 {
        font-size: 29px;
    }

    .dashboard-header p {
        font-size: 14px;
    }

    .stats-container {
        margin-top: 30px;
    }

    .stat-box {
        min-height: 190px;
        padding: 23px;
        border-radius: 12px;
    }

    .stat-box h3 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .stat-box h2 {
        font-size: 45px;
    }

    .stat-box span {
        font-size: 13px;
    }

    .icon {
        font-size: 28px;
    }

    .dashboard-buttons {
        width: 100%;
        flex-direction: column;
        gap: 8px;
    }

    .dashboard-btn,
    .logout-btn {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}